.create-new {
    position: absolute;
    right: 15px;
    top: 8px;
    padding: 15px 20px;
    color: #F2F1EF;
    background: #47525E;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 450;
    text-decoration: none;
}
.create-new:hover {
    color: #F2F1EF;
    background: #66717d;
    text-decoration: none;
}
.employee-item {
    margin: 10px 0;
}
.list-input-action {
    margin-top: 15px;
}